* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    place-content: center;
    align-content: center;
    overflow-y: scroll;
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

p {
    font-size: 1.2em;
}

.hover:hover {
    cursor: pointer;
}

a {
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
}

.bigDescription {
    display: flex;
    text-transform: uppercase;
    font-size: calc(14vh - 35px);;
    position: fixed;
    place-self: center;
    writing-mode: sideways-rl;
    text-shadow: 3px 3px 3px black;
    color: white;
    opacity: 0.9;
    top: 242px;
    left: 45px;
    pointer-events: auto;
    white-space: nowrap;
}

#homePage,
#contactPage {
    flex-flow: column;
    padding: 40px;
    width: 100%;
    height: 100%;
}

#contactPage>div {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    align-items: center;
    /* justify-content: flex-end; */
    justify-content: center;
}

#contentContainer {
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    margin-left: 200px;
}

.gridWrap {
    display: flex;
    flex-flow: column;
    max-width: 1200px;
}

.svgText {
    font-size: 2.3em;
    scale: 0.9;
}

.semiCircle:hover .svgText {
    font-variant-caps: unicase;
}

#shape {
    pointer-events: fill;
    filter: drop-shadow(3px 3px 3px black);
    opacity: 0.9;
}

.semiCircle {
    overflow: visible;
}

h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

#contact {
    height: 100%;
    align-items: center;
}

#contactInfo {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    flex: 0.5;
}

#contactContainer {
    background-color: white;
    opacity: 0.9;
    padding: 21px;
    border-radius: 5px;
    filter: drop-shadow(3px 3px 3px black);
}

#returnHomeButton {
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
}

.title {
    width: 72%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    animation: spin-3d 5s ease-in-out infinite alternate;
}

.title h2,
.title h1 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}

#emailImage {
    padding: 10px;
    border: dashed;
    scale: 0.9;
    margin: 5px 0 30px;
}

#titleShadow {
    margin-top: -17%;
    filter: opacity(50%);
    filter: contrast(0%) opacity(25%);
    scale: 1.02;
    animation-delay: 0.5s;
    z-index: -1;
    position: relative;
}

.card {
    display: flex;
    gap: 40px;
    background: rgba(256, 256, 256, 0.8);
    padding: 30px;
    margin-bottom: 40px;
    transition: 0.2s;
    transform: rotate3d(0);
}

.projectContainer.card:hover {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px #00000020;
}

.projectContainer.card:hover a {
    color: white;
}

.projectContainer {
    border-radius: 5px;
    filter: drop-shadow(3px 3px 3px black);
}

#pc1:hover .projectImage,
#pc3:hover .projectImage,
#pc4:hover .projectImage,
#pc0:hover .projectImage,
#pc2:hover .projectImage {
    animation: wobble-3d 10s linear 0s infinite both;
}

#pc0 {
    animation-delay: 0.2s;
}

#pc1 {
    animation-delay: 0.3s;
}

#pc2 {
    animation-delay: 0.4s;
}

#pc3 {
    animation-delay: 0.5s;
}

#pc4 {
    animation-delay: 0.6s;
}

#pc5 {
    animation-delay: 0.7s;
}

#pc6 {
    animation-delay: 0.8s;
}

.projectBlock {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.projectBlock > h3 {
    text-align: center;
}

.projectImage {
    border: 1px solid grey;
    border-radius: 5px;
    flex: 1;
}

.projectImage img, .projectImage video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    max-height: 350px;
}

a {
    pointer-events: auto;
}

.bounce-in-top {
    animation: bounce-in-top 1.1s 0.5s both;
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {

        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

@keyframes spin-3d {
    0% {
        transform: rotateX(5deg) rotateY(-5deg) rotateZ(-5deg);
    }

    100% {
        transform: rotateX(-5deg) rotateY(5deg) rotateZ(5deg);
    }
}

.fade-out-bottom {
    animation: fade-out-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes fade-out-bottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}

.fade-out-top {
    animation: fade-out-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes fade-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}


.fade-in-bottom {
    animation: fade-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-top {
    animation: fade-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in-top-slow {
    animation: fade-in-top 1.5s 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes wobble-3d {
    0% {
        transform: rotate3d(0);
    }

    25% {
        transform: rotate3d(1, 2, 0, 25deg);
    }

    75% {
        transform: rotate3d(1, -2, 0, 25deg);
    }

    100% {
        transform: rotate3d(0);
    }
}

@media (max-width: 800px) {
    #pc0, #pc2, #pc4, #pc6 {
        flex-direction: column;
    }

    #pc1, #pc3, #pc5 {
        flex-direction: column-reverse;
    }

    .projectImage img {
        max-height: 250px;
    }

    #homepage {
        padding: 20px;
    }

    .bigDescription {
        margin-top: 160px;
        font-size: 3em;
    }
}

@media (max-width: 1000px) and (min-width: 800px) {
    .bigDescription {
        margin-top: 130px;
        font-size: 5.5em;
    }
}

@media (max-width: 1000px) {
    svg.semiCircle {
        transform-origin: 0 0;
        transform: scale(0.75);
    }

    h2 {
        font-size: 1.3em;
    }

    .bigDescription {
        position: initial;
        width: auto;
        height: auto;
        writing-mode: unset;
    }

    .gridWrap {
        display: flex;
        flex-flow: column;
        width: auto;
        align-self: flex-end;
        top: auto;
        position: initial;
    }

    #contentContainer {
        margin-left: 0px;
    }

    #contactPage {
        height: unset;
        margin-top: 25%;
    }
}