@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@1&family=Literata:wght@300&display=swap');

/* font-family: 'Literata', serif;
font-family: 'Linden Hill', serif; */

@font-face {
    font-family: "Inter-Regular";
    src: url("./assets/Inter-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Literata', serif;
    display: flex;
    flex-flow: column;
    place-content: center;
    align-content: center;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
}

.bigDescription {
    display: flex;
    text-transform: uppercase;
    font-family: "Inter-Regular";
    font-size: 2.5em;
    position: fixed;
    width: calc(50% - 20px);
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

content {
    display: flex;
    flex-flow: column;
    padding: 40px;
    width: 100%;
}

.gridWrap {
    display: flex;
    flex-flow: column;
    gap: 40px;
    width: calc(50% - 20px);
    align-self: flex-end;
}

.svgText {
    font-size: 1.7em;
    scale: 0.9;
}

.semiCircle:hover .svgText {
    font-variant-caps: unicase;
}

p {
    font-size: 1.2em;
}

h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Inter-Regular";
    margin-bottom: 10px;
}

.title {
    width: 72%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    animation: spin-3d 5s ease-in-out infinite alternate;
}

.title h2,
.title h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Inter-Regular";
    text-align: center;
    font-size: 3em;
}

#titleShadow {
    margin-top: -17%;
    filter: opacity(50%);
    filter: contrast(0%) opacity(25%);
    scale: 1.02;
    animation-delay: 0.5s;
    z-index: -1;
    position: relative;
}

.projectContainer {
    display: flex;
    gap: 40px;
    background: rgba(256, 256, 256, 0.5);
    padding: 40px;
    transition: 0.2s;
    transform: rotate3d(0);
    box-shadow: 10px 10px #00000020;
}

.projectContainer:hover {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px #00000020;
}

#pc1:hover .proImage,
#pc3:hover .proImage,
#pc0:hover .proImage,
#pc2:hover .proImage {
    animation: wobble-3d 10s linear 0s infinite both;
}

#pc0 {
    animation-delay: 0.2s;
}

#pc1 {
    animation-delay: 0.3s;
}

#pc2 {
    animation-delay: 0.4s;
}

#pc3 {
    animation-delay: 0.5s;
}

@media screen and (max-width: 600px) {
    .projectContainer {
        flex-direction: column-reverse;
    }
}

.problock {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.proImage {
    border: solid black;
    border-width: 5px;
    flex: 1;
}

.proImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#svgRandom {
    position: fixed;
    stroke-dasharray: 50;
    animation: dash 10s linear infinite;
}

.bounce-in-top {
    animation: bounce-in-top 1.1s 0.5s both;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);

        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {

        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.background-color-loop {
    animation: background-color-loop 30s ease 0s 1 alternate;
    animation-iteration-count: infinite;
}

@keyframes background-color-loop {
    0% {
        background: #96ceb4;
    }

    25% {
        background: #ffeead;
    }

    50% {
        background: #ff6f69;
    }

    75% {
        background: #ffcc5c;
    }

    100% {
        background: #88d8b0;
    }
}

.background-loop-gradient {
    background: linear-gradient(131deg, #52c6a8, #c6c452, #c65252, #c652a3);
    background-size: 800% 800%;
    animation: BackgroundLoopGradient 25s ease infinite;
    /* filter: url('#noise'); */
}

#background-filter-overlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 20%;
    ;
    filter: url('#noise');
}


@keyframes BackgroundLoopGradient {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes spin-3d {
    0% {
        transform: rotateX(5deg) rotateY(-5deg) rotateZ(-5deg);
    }

    100% {
        transform: rotateX(-5deg) rotateY(5deg) rotateZ(5deg);
    }
}

.fade-out-bottom {
    animation: fade-out-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes fade-out-bottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}


.fade-in-bottom {
    animation: fade-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-top {
    animation: fade-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in-top-slow {
    animation: fade-in-top 1.5s 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes wobble-3d {
    0% {
        transform: rotate3d(0);
    }

    25% {
        transform: rotate3d(1, 2, 0, 25deg);
    }

    75% {
        transform: rotate3d(1, -2, 0, 25deg);
    }

    100% {
        transform: rotate3d(0);
    }
}

/* #light {
    azimuth: 5;
} */